body{
    margin: 0px;
}
.header-style{
    max-width:100%;
    max-height:1440px;
    background-color: rgba(255, 182, 14, 0.1);
}
/*navstyle*/
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 200px 20px 200px;
}
.navlinks{
    display: flex;
    gap: 20px;
}
.navlinks a{
    text-decoration: none;
    color: black;
}
/* intro style */
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 200px;
}
.Ititle,.Idesc,.intro button,.intro img{
    margin:15px 0px;
}
.intro img{
    width: 100%;
    height: 100%;
}
/* feature section */
.feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 1000px;
    margin: 30px 200px;
}
.teamimg{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
}
/* info section */
.info{
    max-height: 1440px;
    margin: 100px 200px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.info-title{
    display: flex;
    gap: 5px;
}
.info-catagory{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width:100%

}
.cat-1,.cat-2,.cat-3,.cat-4{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding-left: 10px;
    padding-right: 10px;
}
.cat-title{
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
}
.cat-desc{
    font-size: 18px;
    color: gray;
    text-align: justify;
}
.info-pic{
    display: flex;
    flex-direction: column;
}
.info-pic button{
    margin-top: -80px;
    margin-left: -50px;
}
/* facts section */
.fact{
    max-height: 800px;
    margin: 50px 200px;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}
.fact-box{
    display: flex;
    justify-content: space-around;
    margin: auto 100px;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 1px solid #FF900E;
    border-radius: 10px;
    width: 150px;
}
.num{
    font-size: 3rem;
    font-weight: bolder;
    margin: 0px;
}
.binfo{
    color: gray;
}
/* sponsors section */
.sponsors{
    margin: 50px 200px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}
.sheading p{
    text-align: center;
}
.simg{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.simg img{
    filter: grayscale(100%);
}
/* footer section */
.footer{
    background-color: rgba(255, 182, 14, 0.1);
    margin: 50px 200px;
    height: 50px;
    padding: 10px;
}


